

/* Keep elements in a single line */
.wrapper {
  position: relative;
  display: inline-block;
}

/* For center-* to work properly, their parent must be position: relative; */
.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
